
/* 
    Created on : 10 Dec 2022, 12:28:25
    Author     : kharileigh
*/

/*------- PAGE ----------*/
body {
    
    background-color: black;
    overflow-x: scroll;
    overflow-y: scroll;
    
}





/*------- NAVBAR -------- */
nav {
    display : flex;
    justify-content: center;
    position: fixed;
    padding: 200%;
    
}

.navbar {
    align-items: center;
    padding: 2px;
} 

.logo {
    align-items: center;
}

img {
    width : 150px;
    height : 150px;
    border-radius: 90px;
    margin-right: 600px;
    margin-left: 15px;

}




/* headings : VIVID ORANGE */
h1 {
    
    color: #ff6900;
}

/* table headings : YELLOW */
th {
    
    color: #fcb900;
   
}

/* table data : GREY*/
table {
    
    color : #abb8c3;
}


